@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

:root {
    --color-main: #145db8;
    --color-text: #6d7379;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'georgia', serif;
    --bg-main: #145db8;
}

body {
    font-family: var(--font-primary);
}
